﻿@using Microsoft.AspNetCore.Mvc.ModelBinding
@model User
@{
    ViewData["Title"] = Model.UserName;
}
<h2>@string.Format("Личный кабинет {0}", Model.UserName)</h2>

<table class="table">
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Имя</td>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <td>Личный счет</td>
        <td>@Model.PersonalAccount</td>
    </tr>
    <tr>
        <td>Баланс</td>
        <td>@Model.Balance</td>
    </tr>
</table>
