﻿@using MoneyTransfer.ViewModels
@model MoneyTransfer.ViewModels.AddBalanceViewModel

<h2>Вход в приложение</h2>
<form method="post" asp-controller="Account" asp-action="AddBalance">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="PersonalAccount">Cчет</label><br />
        <input asp-for="PersonalAccount" />
        <span asp-validation-for="PersonalAccount"></span>
    </div>
    <div>
        <label asp-for="Sum">Сумма</label><br />
        <input asp-for="Sum" />
        <span asp-validation-for="Sum"></span>
    </div>
    <div>
        <input type="submit" value="Пополнить" />
    </div>
</form>