﻿@model MoneyTransfer.ViewModels.PaymentHistoryViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payment history</title>
</head>
<body>
    <form method="get">
        <div class="form-inline">
            <label class="control-label">Дата с: </label>
            @Html.TextBox("dateFrom", Model.FilterViewModel.SelectedDateFrom, htmlAttributes: new { @class = "form-control", @type = "date" })

            <label class="control-label">Дата до: </label>
            @Html.TextBox("dateTo", Model.FilterViewModel.SelectedDateTo, htmlAttributes: new { @class = "form-control", @type = "date" })

            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Дата
                </th>
                <th>
                    Отправитель
                </th>
                <th>
                    Получатель
                </th>
                <th>
                    Сумма
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Transactions)
            {
                <tr>
                    <td>
                        @item.TransactionDate
                    </td>
                    <td>
                        @item.Sender
                    </td>
                    <td>
                        @item.Recipient
                    </td>
                    <td>
                        @item.Sum
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

</html>
